header {
font-family: monospace;
color: #ff8080;
font-size: 18pt;
}

.EscapeRoomHeading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.EscapeRoomInstructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.EscapeRoomTextBox {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #ff8080;
}

.EscapeRoomImage {
    text-align: center;
    height: auto;
}
.EscapeRoomAlign {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.FooterText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: bisque;
    
}


ul {
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    font-style: none;
    padding-top: 1.5em;
}

li {
    float: left;
    padding-right: 4em;
    font-size: 14pt;
    text-decoration: none;
    color:black;
    font-weight: bold;
     text-transform: uppercase;
}

nav :hover{
    color: white;
}

.FlexContainerA {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.button1{
    background-color: black;
    color:#ff8080;
    margin: 11px 2px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
  }

  .button2 {
    background-color: black;
    color:#ff8080;
    margin: 11px 2px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
      background-color: bisque;
  }

  .cluebox {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
  }

  .lightbox {
      position: fixed;
      z-index:1000;
      top: 0;
      display: none;
      background-color: black(0, 0, 0, .8);
      width:100%;
      height: 100%
    }
  .lightbox.active {
      display: flex;
      justify-content: center;
      align-items:center;
  }

